<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Feedback</h1>
        <button class="button button-clear button-positive" ng-click="feedbackClose()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="sendFeedback(feedbackForm)" class="css-form" name="feedbackForm" novalidate>
            <label class="item item-input">
                <input type="text" placeholder="Title (optional)" ng-model="feedback.title">
            </label>
            <label class="item item-input">
                        <textarea placeholder="Your feedback here.

Say what you like and don't like.

To report an error, say what were you doing, what you expected to happen and what did happened."
                                  ng-model="feedback.content" name="feedbackBody" required></textarea>
            </label>
            <!--<ion-checkbox ng-model="feedback.attachLog">Attach log to feedback?</ion-checkbox>-->

            <div class="padding">
                <div ng-show="(feedbackForm.$submitted || feedbackForm.feedbackBody.$touched) && feedbackForm.feedbackBody.$error.required"
                     class="validationMsg">Enter your feedback
                </div>
            </div>

            <button type="submit" class="button button-block button-positive">Send feedback</button>


        </form>
    </ion-content>

</div>
