
    <div ng-class="{hidden: contacts.length>0}" class="loading">loading contacts...</div>

    <ion-list class="stickle-list">
        <ion-item ng-repeat="contact in stickles" ng-class="[{'inbound':contact.inbound}, contact.stickleStatus]">

            <ng-include src="'/templates/row.html'"></ng-include>

        </ion-item>
    </ion-list>

    <ion-list class="contact-list">
        <ion-item collection-repeat="contact in contacts | filter:{displayName: contactFilter.value} | filter:{hidden:'!true'}" force-refresh-images="true" ng-class="{'disable':!contact.stickler,'first':$first}">

            <ng-include src="'/templates/row.html'"></ng-include>

        </ion-item>
    </ion-list>
