<div class="modal splash">

    <ion-header-bar class="bar-secondary">
        <div class="header">
            <input type="checkbox" ng-model="splash.on" id="splash" ng-change="splash.toggleSplashAction(splash.on)"><label for="splash">show on startup</label>
            <button class="button button-clear" ng-click="splash.modal.hide()">Continue</button>
        </div>
    </ion-header-bar>

<ion-content>

    <h1>&nbsp;</h1>

    <h2>Welcome to Stickle, the consensual calling app.</h2>

        <p>Stickle lets you call and be called when it's convenient for you. It's that simple.</p>

        <ul>
            <li>Invite your friends by tapping the <i class="invite"></i> icon<i class="invitation-illustration illustration">&nbsp;</i></li>

            <li>Find who you want to talk to and tap their toggle<i class="stickle-illustration illustration">&nbsp;</i></li>

            <li>They'll be notified you want to talk<i class="respond-illustration illustration">&nbsp;</i></li>

            <li>When they're ready, they'll tap "Ready"</li>

            <li>Your phone will prompt you to call them, just by pressing the green telephone button<i class="call-illustration illustration">&nbsp;</i></li>
        </ul>

    <p>End voicemail tennis. Stickle lets you speak when you're both ready.</p>
    <p>&nbsp;</p>
</ion-content>
</div>