<div class="modal splash">

    <ion-header-bar class="bar-secondary">
        <div class="header">
            <input type="checkbox" ng-model="splash.on" id="splash" ng-change="splash.toggleSplashAction(splash.on)"><label for="splash">show on startup</label>
            <button class="button button-clear" ng-click="splash.modal.hide()">Close</button>
        </div>
    </ion-header-bar>

<ion-content>

    <h1>&nbsp;</h1>

    <h2>Welcome to Stickle, the consensual calling app.</h2>

    <p>Phone calls can be annoying, especially when you're in the middle of something.</p>

        <p>And you can never get hold of some people; you just end up in voicemail tennis.</p>

        <p>Stickle lets you call and be called when it's convenient for you. It's that simple.</p>

        <ul><li>Find who you want to Stickle and tap their toggle</li>

        <li>They'll be notified you want to talk</li>

            <li>When they're ready, they'll tap "Call now"</li>

            <li>Your phone will prompt you to call them, just by pressing the green telephone button</li>
        </ul>
</ion-content>
</div>