<!--<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="dev.co.stickle" version="1.0.0" android-versionCode="176">-->
<!--<name>Stickle Dev</name>-->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="co.stickle" version="1.0.0" android-versionCode="183">
    <name>Stickle</name>
    <description>The consensual calling app.</description>
    <!--<author href="http://phonegap.com" email="support@phonegap.com">PhoneGap Team</author>-->
    <content src="index.html"/>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="StatusBarBackgroundColor" value="#cc3a05"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="android-build-tool" value="gradle"/>

    <access origin="*"/>
    <icon src="img/sticon.png"/>

    <plugin name="cordova-plugin-contacts"/>
    <plugin name="cordova-plugin-sms" source="npm" />
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <plugin name="cordova-plugin-network-information"/>
    <plugin name="phonegap-plugin-push" source="npm" spec="1.8.4">
        <params>
            <param name="SENDER_ID" value="1080115958403"/>
        </params>
    </plugin>
    <plugin name="call-number" source="npm" version="0.0.2"/>
    <plugin name="cordova-plugin-statusbar" source="npm" version="2.1.2"/>

    <platform name="android">
        <preference name="android-minSdkVersion" value="14"/>
    </platform>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>