<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>

    <link href="css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <title>Stickle</title>
</head>

<body ng-app="stickle" ng-controller="stickleCtrl" ng-cloak>


<ion-side-menus>
    <ion-side-menu-content>

        <ion-header-bar class="bar-dark deep">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Stickle</h1>
        </ion-header-bar>

        <ion-content class="main" overflow-scroll="true">
            <ion-refresher on-refresh="toggleFilter()">
            </ion-refresher>
            <div class="filter" ng-class="{'hidden':!showFilter}">
                <input type="text" placeholder="Name to filter on" ng-model="contactFilter.value">
                <button class="icon ion-close-round button button-clear" ng-click="toggleFilter()"></button>
            </div>
            <div id="errors" class="hidden"></div>

            <div ng-class="{hidden: contacts.length>0}" class="loading">loading contacts...</div>

            <ion-list class="stickle-list">
                <ion-item ng-repeat="contact in stickles" ng-class="[{'inbound':contact.inbound}, contact.stickleStatus]">

                    <ng-include src="'row.html'"></ng-include>

                </ion-item>
            </ion-list>

            <ion-list class="contact-list">
                <ion-item collection-repeat="contact in contacts | filter:{displayName: contactFilter.value} | filter:{hidden:'!true'}" force-refresh-images="true" ng-class="{'disable':!contact.stickler,'first':$first}">

                    <ng-include src="'row.html'"></ng-include>

                </ion-item>
            </ion-list>


        </ion-content>

    </ion-side-menu-content>
    <ion-side-menu side="left">

        <ng-include src="'/templates/registrationAndSettings.html'"></ng-include>

    </ion-side-menu>
</ion-side-menus>

<script type="text/javascript" src="js/lib/log4javascript.js"></script>
<script type="text/javascript">
    var log = log4javascript.getDefaultLogger();
    log.setLevel(log4javascript.Level.DEBUG);
</script>
<script src="js/lib/jquery-1.9.0.min.js"></script>
<script src="js/lib/ionic.bundle.js"></script>
<script src="js/angular/angular-resource.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="js/setup.js"></script>
<script type="text/javascript" src="js/contacts.js"></script>
<script type="text/javascript" src="js/context.js"></script>
<script type="text/javascript" src="js/sockets.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/polyFilla.js"></script>

</body>