<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>

    <link href="css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" href="css/SelectBox.min.css" >

    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' data: gap: https://ssl.gstatic.com">
    <title>Stickle</title>
</head>

<body ng-app="stickle" ng-controller="stickleCtrl" ng-cloak>


<ion-side-menus>
    <ion-side-menu-content>

        <ion-header-bar class="bar stickle">
            <div class="filter">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

            <input type="text" placeholder="Search contacts" ng-model="contactFilter.value">
            <button class="icon ion-close-round button" ng-click="contactFilter.toggleFilterAction()"></button>
            </div>
        </ion-header-bar>

        <stkincluder src="templates/mainContent.html"></stkincluder>

    </ion-side-menu-content>
    <ion-side-menu side="left">

        <stkincluder src="templates/registrationAndSettings.html"></stkincluder>

    </ion-side-menu>
</ion-side-menus>

<script type="text/javascript" src="js/lib/log4javascript.js"></script>
<script type="text/javascript">
    var noLog = ["contactStatus"];
    var log = log4javascript.getDefaultLogger();
    log.setLevel(log4javascript.Level.TRACE);
</script>
<script type="text/javascript" src="js/lib/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/lib/ionic.bundle.js"></script>
<script type="text/javascript" src="js/angular/angular-resource.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="js/lib/SelectBox.min.js"></script>
<script type="text/javascript" src="js/userInterfaceHandler.js"></script>
<script type="text/javascript" src="js/setupHandler.js"></script>
<script type="text/javascript" src="js/contactsHandler.js"></script>
<script type="text/javascript" src="js/userHandler.js"></script>
<script type="text/javascript" src="js/socketsHandler.js"></script>
<script type="text/javascript" src="js/context.js"></script>
<script type="text/javascript" src="js/telephone.js"></script>
<script type="text/javascript" src="js/sticklephonenumber-compiled.js"></script>
<script type="text/javascript" src="js/country-codes.js"></script>
<script type="text/javascript" src="js/pushNotificationHandler.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="cordova_plugins.js"></script>
<script type="text/javascript" src="js/polyFilla.js"></script>

</body>