
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.bar.deep {
    background-color: #c65018;
    background-image: none;
    border-bottom: 0;
}

html {
    color: ghostwhite;
}

.main {
    background-color: #555555;
}

.loading {
    color: ghostwhite;
    font-size: 20px;
    text-align: center;
    min-height: 120px;
    padding-top: 20px;
    height: 100%;
}

.hidden {
    display: none;
}

.contact-list .list {
    z-index: 1;
}

.stickle-list .list {
    z-index: 100;
    background-color: rgba(255, 255, 255, 100);
}

.list {
    padding-top: 0;
    padding-bottom: 0;
}

.list .item {
    padding: 4px;
    background-color: transparent;
    border-color: #888888;
}

.list .item, .list .item span {
    color: ghostwhite;
}

.item.inbound, .item.inbound span {
    color: #777777;
}

.item .track {
    background-color: #888888;
}

.item .handle {
    background-color: #aaaaaa;
}

.list .item.disable, .list .item.disable span {
    background-color: #888888;
    color: #bbbbbb;
    border-color: #666666;
}

.list .item.first {
    border-top: 0;
}

.contact-details {
    float: left;
    width: calc(100% - 164px);
    padding: 12px 0 12px 12px;
}

.contact-actions .action.regular-action {
    color: #e3e3e3;
    padding: 5px 20px 0 0;
}

.stickle-actions, .contact-actions {
    width: 164px;
    float: right;
}

.regular-action {
    float: right;
    margin: 10px 3px 0 0;
}

.contact-actions .icon, .stickle-actions .action {
    font-size: 14pt;
    text-align: center;
}

.stickle-actions .action, .call {
    background-color: transparent;
    border-radius: 3px;
    display: block;
    float: right;
    border: 2px solid;
    width: 86px;
    height: 62px;
}

.stickle-actions .accept, .call {
    border-color: #4CD964;
    color: #4CD964;
    margin-right: 4px;
}

.stickle-actions .unaccept {
    border-color: #ff661e;
    color: #ff661e;
    margin-right: 4px;
}

.contact-actions .icon, .stickle-actions .icon {
    font-size: 30px;
}

.stickle-actions .reject {
    border-color: #6c9add;
    color: #6c9add;
    width: 62px;
}

.stickle-actions :active, .call:active, .stickle-actions :focus {
    border-color: #777777;
    color: #777777;
    background-color: #cccccc;
}

.type {
    font-weight: bold;
}

.validationMessagePrompt {
    color: #ff0000;
    font-size: 14px;
    padding-top: 20px;
    display: inline-block;
}

.stickle-list .item {
    -webkit-animation: slideUp ease-in 1;
    animation: slideUp ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 750ms;
    animation-duration: 750ms;

    background-color: #555555;
    border-top: 1px solid #888888;
}

.inbound.open, .inbound.un-accepted, .inbound.accepted {
    background-color: #ffffff;
    border-width: 3px;
    border-top-width: 7px;
    border-bottom-width: 7px;
}

.inbound.open, .inbound.un-accepted {
    border-color: #F9D72F;
}

.inbound.accepted {
    border-color: #4CD964;
}

.validationMsg {
    display: block;
    padding: 2px;
    text-align: center;
    color: #FA787E;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.validationMsg.ng-hide {
    opacity: 0;
    display: block!important;
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}