@font-face {
    font-family: "Ionicons";
    src: url("../fonts/ionicons.eot");
    src: url("../fonts/ionicons.eot") format("embedded-opentype"), url("../fonts/ionicons.ttf") format("truetype"), url("../fonts/ionicons.woff?v=2.0.1") format("woff"), url("../fonts/ionicons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    color: #666666;
}

.main {
    background-color: #fdfdfd;
}

.bar {
    height: 54px;
}

.has-header {
    top: 54px;
}

.bar h1 {
    padding-top: 1px;
}

.bar.stickle {
    background-color: #ff661e;
    /*background-color: #f96018;*/
    background-image: none;
    border-bottom: 0;
}

.filter {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: #fbfbfb;
    border-radius: 3px;
    padding-top: 5px;
}

.filter input {
    padding-left: 5px;
    padding-top: 0;
    width: calc(100% - 100px);
    color: #555555;
    text-decoration: none;
    float: left;
}

.filter button.ion-navicon {
    float: left;
}

.filter button.ion-close-round {
    float: right;
}

.filter button:hover {
    color: #ff661e;
    background: none;
    background-color: transparent;
}

.filter button.button {
    width: 50px;
    color: #ff661e;
}

.filter button.button, .filter input {
    display: block;
    font-size: 18px;
    background: none;
    background-color: transparent;
}

.filter input:focus {
    text-decoration: none;
}

.loading {
    color: #444444;
    font-size: 20px;
    text-align: center;
    min-height: 120px;
    padding-top: 20px;
    height: 100%;
}

.hidden {
    display: none;
}

.contact-list .list {
    z-index: 1;
}

.stickle-list .list {
    z-index: 100;
    background-color: rgb(255, 102, 30);
    /*background-color: rgb(236, 95, 29);*/
}

.list {
    padding-top: 0;
    padding-bottom: 0;
}

.list .contact-list-item {
    padding: 4px;
    border-top: 1px solid;
    overflow: hidden;
}

.list .item {
    padding: 0;
    border: 0;
}

.stickle-list .item {
    -webkit-animation: slideUp ease-in 1;
    animation: slideUp ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 750ms;
    animation-duration: 750ms;

    border-top: 1px solid #ffffff;
}

.stickle-list .contact-list-item {
    background-color: #ffeeeb;
    border-top: 0;
}

.contact-banner {
    background-color: #6cb0fe;
    color: #efefef;
    font-size: 10pt;
    padding: 4px 16px 4px 16px;
    white-space: normal;
}

.contact-banner.inbound i:after {
    font-family: "Ionicons";
    content: "\f253";
}

.contact-banner.outbound:after {
    font-family: "Ionicons";
    content: "\f4b9";
}

.contact-banner.invite i:after {
    font-size: 15pt;
    font-family: "Ionicons";
    content: "\f47f";
}

.contact-list .contact-list-item {
    background-color: #ffffff;
    border-color: #efefef;
}

.contact-list-item {
    overflow: auto;
    padding: 16px;
}

.list .contact-list-item, .list .contact-list-item span {
    color: #444444;
}

.list .disable .contact-list-item, .list .disable .contact-list-item span {
    background-color: #efefef;
    color: #aaaaaa;
    border-color: #ffffff;
}

.list .first .contact-list-item, .list .first .contact-banner {
    border-top: 0;
}

.contact-details {
    float: left;
    width: calc(100% - 202px);
    padding: 12px 0 12px 12px;
}

.contact-list-item button {
    border-radius: 3px;
}

.contact-list-item .icon {
    font-size: 30px;
    width: 70px;
    height: 62px;
}

.stickle-actions, .contact-actions {
    width: 202px;
    float: right;
}

.contact-actions .icon {
    color: #999999;
}

.contact-actions .toggle {
    float: right;
    margin: 10px 3px 0 0;
}

.stickle-actions .acceptance-switch {
    display: block;
    float: right;
    background-color: #ffffff;
    padding: 4px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 3px;
}

.contact-actions .icon, .stickle-actions button {
    text-align: center;
    display: block;
    float: right;
}

.stickle-actions button {
    font-weight: 500;
    line-height: 1.1;
    width: 62px;
    height: 54px;
    background: #f0f0f0;
    color: #888888;
    font-size: 14pt;
    border: 1px solid #fcfcfc;
    border-top-color: #ececec ;
    border-left-color: #ececec ;
    border-radius: 4px;
}

.stickle-actions .accept {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
}

.stickle-actions .unaccept {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.stickle-actions button.on {
    color: #ffffff;
    border-width: 2px;
}

.stickle-actions .accept.on {
    background-color: #4ee867;
    border-color: #51ff6a;
    border-bottom-color: #49c664;
    border-right-color: #49C664;
    border-right-width: 1px;
}

.stickle-actions .unaccept.on {
    background-color: #ff8228;
    border-color: #ffbe5a;
    border-bottom-color: #e47a22;
    border-right-color: #e47a22;
    border-left-width: 1px;
}

.stickle-actions .reject {
    background-color: transparent;
    border: 2px solid #6c9add;
    color: #6c9add;
    width: 62px;
}

.contact-actions .call {
    background-color: transparent;
    color: #4CD964;
    margin-right: 4px;
    border: 2px solid #4CD964;
    padding-top: 4px; /*needed on mobile, but looks wrong on desktop*/
}

.call:active {
    border-color: #777777;
    color: #777777;
    background-color: #cccccc;
}

.contact-actions .invite {
    padding-top: 16px;
}

.type {
    font-weight: bold;
}

.validationMessagePrompt {
    color: #ff0000;
    font-size: 14px;
    padding-top: 20px;
    display: inline-block;
}

.inbound.open .contact-list-item, .inbound.un-accepted .contact-list-item {
    /*background-color: #fff5aa;*/
    background-color: #ffdc6e;
}

.inbound.accepted .contact-list-item {
    /*background-color: #caeaf0;*/
    background-color: #c8f0c8;
}

.validationMsg {
    display: block;
    padding: 2px;
    text-align: center;
    color: #FA787E;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.selectBoxDiv {
    padding: 7px 0 8px 0;
}

select-box {
    display: flex;
}

#select .list .item{
    padding: 10px 7px  5px 7px;
}

.selectBox {
    margin-left: -1px;
    margin-right: -1px;
}

.select-placeholder {
    color: #a8a8a8 !important;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a8a8a8;
    opacity: 1;
}

select-box .select-country span.selected, .disable-country-code{
    width: calc(100% - 30px);
    border-radius: 0;
    text-indent: 15px;
}

select-box .select-country span.selectArrow, select-box .select-country span.selected {
    border-color: #ddd;
    height: auto;
    padding: 8px 0 7px 0;
    color: #444;
}

select-box .select-country span.selectArrow {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.disable-country-code {
    height: 100%;
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
    padding: 13px 0 13px 0;
}

.greyed {
    background-color: #efefef;
    color: #aaaaaa;
}

.warn {
    color: #ff661e;
}

.item-input.disable, .disable-country-code {
    border: none;
    background-color: #efefef;
}

.item-input.disable input {
    background-color: #efefef;
}

#verificationCodeLabel {
    margin-top: 10px;
}

#verificationCodeLabel.disable {
    display: none;
}

.button.disable {
    display: none;
}

.settings .button-outline {
    color: #555555
}

.button-block.text-button {
    margin-top: 0;
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    color: #ff661e;
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

textarea {
    min-height: 150px;
}

.popover .bar-header {
    border-radius: 20px;
    top: -3px;
}

.popover {
    border-radius: 20px;
    height: 35px;
    width: 90%;
    background-color: #555555;
}

.popover .bar-header .title {
    text-align: center;
    font-size: 14px;
    color: #dedee4;
}

.sms-prompt p {
    margin-bottom: 2px;
}

.sms-prompt textarea, .sms-prompt p, .sms-prompt span {
    padding-left: 2px;
}

.sms-prompt textarea {
    min-height: 75px;
    margin: 1px 1px 0 1px;
}

.sms-prompt .small {
    font-size: 8pt;
    color: #555555;
}

.connectionWarn {
    margin: 200px auto;
    width: 100px;
    color: #6cb0fe;
    text-align: center;
    font-size: 12pt;
}

.connectionWarn:before {
    font-family: "Ionicons";
    font-size: 96pt;
    content: "\f305";
}

.splash {
    font-family: "Verdana", sans-serif;
}

.splash ion-header-bar {
    height: 50px;
}

.splash button {
    float: right;
    color: #555555;
    width: 80px;
}

.splash input[type=checkbox] {
    display: none;
}

.splash label {
    padding-left: 7px;
    float: left;
    background-color: transparent;
    color: #b2b2b2;
}

.splash input[type=checkbox]:checked + label:after {
    content: "\f373";
}

.splash label:after {
    font-family: "Ionicons";
    font-size: 20px;
    content: "\f372";
    padding-left: 7px;
}

.splash .header label {
    font-weight: 300;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 17px;
    line-height: 32px;
    width: calc(100% - 80px);
}

.splash .header {
    width: 100%;
    padding-top: 3px;
    padding-right: 7px;
}

.splash h1, .splash h2, .splash p, .splash ul {
    margin: 10px 7% 0 7%;
}

.splash h1 {
    background: url("../img/splashheader.png") no-repeat;
    background-size: contain;
    height: 80px;
}

.splash h2 {
    font-size: 18pt;
}

.splash h2, .splash p, .splash ul {
    margin-top: 15px;
}

.splash li i.invite:after {
    font-size: 20px;
    /*top: -10px;*/
    font-family: "Ionicons";
    content: "\f47f";
}

.splash li i.invitation-illustration {
    background-image: url("../img/inviteInstruction.png");
}

.splash li i.stickle-illustration {
    background-image: url("../img/stickleInstruction.png");
}

.splash li i.call-illustration {
    background-image: url("../img/callInstruction.png");
}

.splash li i.respond-illustration {
    background-image: url("../img/respondInstruction.png");
    height: 110px;
}

.splash li .illustration {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90px;
    margin-top: 7px;
}

.splash li {
    list-style-type: disc;
    padding-top: 7px;
}